
  <header>
    <%= link_to 'Back', root_path %>
    <% if logged_in? %>
      Hey <%= link_to current_user.name, current_user %>!
      <%= link_to 'Logout', log_out_path, :method => :delete %>
    <% else %>
      <%= link_to 'Login', log_in_path %>
      <%= link_to 'Signup', new_user_path %>
    <% end %>
  </header>

<div id="subjects-background">
    <h1>Subjects</h1>
    <ul>
        <% @subjects.each do |subject| %>
            <li><%= link_to subject.name, subject %></li>
        <% end %>
    </ul>
</div>

