<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<header>
  <%= link_to 'Back', subjects_path %>
  <% if logged_in? %>
    Hey <%= link_to current_user.name, current_user %>!
    <%= link_to 'Logout', log_out_path, :method => :delete %>
  <% else %>
    <%= link_to 'Login', log_in_path %>
    <%= link_to 'Signup', new_user_path %>
  <% end %>
</header> 

<div class="container">
  <h1 class="show"><%= @subject.name %></h1>

  <p>See if any of the following offers or requests match what you need. If not, make a new post if you are logged in :-)</p>

  <table class="table table-bordered table-striped table-hover">
    <thead>
      <tr>
        <th class="text-center col-lg-6 col-md-6 col-sm-6 col-xs-6">Tutoring Offers</th>
        <th class="text-center col-lg-6 col-md-6 col-sm-6 col-xs-6">Created At</th>
      </tr>
    </thead>

    <tbody>
      <% @subject.posts.each do |post| %>
        <tr>
          <% if post.user.category == 'Tutor'%>
            <td><%= link_to post.title, subject_post_path(@subject, post) %></td>
            <td><%= post.created_at.localtime.to_formatted_s(:long_ordinal)%>
            <% if logged_in? && post.user == current_user %>
              <%= link_to 'Edit Post', edit_subject_post_path(@subject, post) %>
              <%= link_to 'Destroy Post', subject_post_path(@subject, post), method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>

  <table class="table table-bordered table-striped table-hover">
    <thead>
      <tr>
        <th class="text-center col-lg-6 col-md-6 col-sm-6 col-xs-6">Tutoring Requests</th>
        <th class="text-center col-lg-6 col-md-6 col-sm-6 col-xs-6">Created At</th>
      </tr>
    </thead>

    <tbody>
      <% @subject.posts.each do |post| %>
        <tr>
          <% if post.user.category == 'Tutee'%>
            <td><%= link_to post.title, subject_post_path(@subject, post) %></td>
            <td><%= post.created_at.localtime.to_formatted_s(:long_ordinal) %>
            <% if logged_in? && post.user == current_user %>
              <%= link_to 'Edit Post', edit_subject_post_path(@subject, post) %>
              <%= link_to 'Destroy Post', subject_post_path(@subject, post), method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<!--<%= link_to 'Edit', edit_subject_path(@subject) %> |-->
<% if logged_in? %>
<%= link_to 'New Post', new_subject_post_path(@subject) %>
<% end %>
